@font-face {
  font-family: "Lato-regular";
  src: url(./assets/Font/Lato/Lato-Regular.ttf);
}

@font-face {
  font-family: "Lato-bold";
  src: url(./assets/Font/Lato/Lato-Bold.ttf);
}

@font-face {
  font-family: "Lato-light";
  src: url(./assets/Font/Lato/Lato-Light.ttf);
}

html{
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Lato-regular',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Lato-regular', sans-serif;
}
