.poke-card {
  margin: 2rem;
}

.poke-card-ground {
  border: solid;
  border-width: 10px;
  border-color: #b7963c;
  background-color: rgba(183, 150, 60, 0.5);
  width: 20rem;
}

.poke-card-electric {
  border: solid;
  border-width: 10px;
  border-color: #efa30b;
  background-color: rgba(239, 163, 11, 0.5);
  width: 20rem;
}

.poke-card-bug {
  border: solid;
  border-width: 10px;
  border-color: #a1b019;
  background-color: rgba(161, 176, 25, 0.5);
  width: 20rem;
}

.poke-card-dark {
  border: solid;
  border-width: 10px;
  border-color: #513c2f;
  background-color: rgba(81, 60, 47, 0.5);
  width: 20rem;
}

.poke-card-dragon {
  border: solid;
  border-width: 10px;
  border-color: #755ddd;
  background-color: rgba(117, 93, 221, 0.5);
  width: 20rem;
}

.poke-card-fairy {
  border: solid;
  border-width: 10px;
  border-color: #f2acf2;
  background-color: rgba(242, 172, 242, 0.5);
  width: 20rem;
}

.poke-card-fighting {
  border: solid;
  border-width: 10px;
  border-color: #7e331c;
  background-color: rgba(126, 51, 28, 0.5);
  width: 20rem;
}

.poke-card-fire {
  border: solid;
  border-width: 10px;
  border-color: #da3005;
  background-color: rgba(218, 48, 5, 0.5);
  width: 20rem;
}

.poke-card-flying {
  border: solid;
  border-width: 10px;
  border-color: #91a4f2;
  background-color: rgba(145, 164, 242, 0.5);
  width: 20rem;
}

.poke-card-ghost {
  border: solid;
  border-width: 10px;
  border-color: #5757a7;
  background-color: rgba(87, 87, 167, 0.5);
  width: 20rem;
}

.poke-card-grass {
  border: solid;
  border-width: 10px;
  border-color: #6dbe30;
  background-color: rgba(109, 190, 48, 0.5);
  width: 20rem;
}

.poke-card-ice {
  border: solid;
  border-width: 10px;
  border-color: #a3e7fd;
  background-color: rgba(163, 231, 253, 0.5);
  width: 20rem;
}

.poke-card-normal {
  border: solid;
  border-width: 10px;
  border-color: #cbc7bf;
  background-color: rgba(203, 199, 191, 0.5);
  width: 20rem;
}

.poke-card-poison {
  border: solid;
  border-width: 10px;
  border-color: #6b246e;
  background-color: rgba(107, 36, 110, 0.5);
  width: 20rem;
}

.poke-card-psychic {
  border: solid;
  border-width: 10px;
  border-color: #dc3165;
  background-color: rgba(220, 49, 101, 0.5);
  width: 20rem;
}

.poke-card-rock {
  border: solid;
  border-width: 10px;
  border-color: #b39b50;
  background-color: rgba(179, 155, 80, 0.5);
  width: 20rem;
}

.poke-card-steel {
  border: solid;
  border-width: 10px;
  border-color: #b8b8c6;
  background-color: rgba(184, 184, 198, 0.5);
  width: 20rem;
}

.poke-card-water {
  border: solid;
  border-width: 10px;
  border-color: #3496f8;
  background-color: rgba(52, 150, 248, 0.5);
  width: 20rem;
}

.title-div {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.2rem;
  border: solid rgba(0, 0, 0, 0.536);
}

.type-ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.type-ul li {
  list-style: none;
}

.sprites {
  width: 10rem;
}

.types-img {
  width: 4rem;
}

h2 {
  text-transform: capitalize;
  margin: 0;
}

h4 {
  text-align: center;
}

figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem;
}
/*# sourceMappingURL=Card.css.map */