.nav-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2C75B5;
    padding: 1rem;
}

.logo {
    width: 14rem;
    height: 5rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 14rem;
}

.pokemon-logo{
    width: 5rem;
}

.link-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid darkgray 2px;
    background-color: #fff;
    border-radius: 2rem;
    text-decoration: none;
    padding: 1.5rem;
    margin-inline: 1rem;
    width: 6rem;
    transition: 200ms;
    &:hover {
        background-color: #FDCC02;
        border: solid #FDCC02 2px;
        -ms-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    &:active {
        background-color: darkgray;
        border: solid darkgray 2px;
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    p {
        margin-bottom: 0;
    }
}

i {
    img {
        width: 2rem;
        margin-top: 0.6rem;
    }

    .pokedex {
        height: 33px;
    }

    .pokeball {
        height: 34px;
        width: 34px;
    }

    .card-icon {
        height: 35px;
    }

    .red-hat {
        height: 35px;
        width: 35px;
    }
}

.link {
    text-decoration: none;
    margin-top: 1rem;
    font-size: 1.2rem;
    color: black;
}

.img-container{
    display: flex;
    justify-content: center;
}

p{
    line-height: normal;
    
}